
body{

margin: 0%;

}
header{

    background-color: #dbf6e9;
}

header nav   {

    display: flex;
   
    

    }
    nav ul li {

        margin-left: 40px;
        list-style-type: none;
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;
        padding-left: 30px;
    
        

 }
 nav ul li a{

    text-decoration: none;
    margin-left: 90px;
display: flex;   
color: #c64756; 
font-weight: bolder;
 }

  

.first{
background-color: #eff7e1;
height: 100px;
}
.first h3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.first p {

font-style: oblique;
font-weight: bolder;
color:#c64756;
}
.second{

background-color: #a2d0c1;
height: 400px;

}
.second img {
    height: 250px;
    width: 250px;
}

.images {
    display:inline-block;
    margin-left: 140px;
}
.images h4{

    text-align: center;
}


#third{
background-color: #92967d;
width: 100%;
height:250px;
}

.list{

    display:inline-block;
    margin-left: 120px;
    height: 100px;
    width: 300px;
    
}


.list h5 {
 color: #fad586;
 margin-left: 20px;
 font-size: 18px;
 font-family: 'Courier New', Courier, monospace;
 font-style: normal;
 font-weight: 900;
 }


.list li {
padding: 10px;
font-size: 15px;
font-weight: 700;
font-style: italic;


}

footer {

height: 100px;
background-color: #435560;

}
footer p {

margin-left: 33%;
padding-top: 40px;
font-size: 30px;
font-weight: bolder;
font-style: italic;
}
